<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuizLibrary.Properties.Settings.QuizConnectionString"
            connectionString="Data Source=(localdb)\Projects;Initial Catalog=Quiz;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="QuizLibrary.Properties.Settings.QuizConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=H:\Quiz.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="QuizLibrary.Properties.Settings.QuizConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Shane\Source\Repos\C-Sherif\Assignment3\Assignment3\Quiz.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>